<%= form_with url: login_path, scope: :admin do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.label :remember_me %>
    <%= form.check_box :remember_me %>
  </div>
  <%= form.submit "Sign In", class: "bg-nw5k-eggplant-500 hover:bg-nw5k-eggplant-700 text-nwk-eggplant-900 hover:text-white font-bold mt-2 py-2 px-4 rounded" %>
<% end %>
