<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div class="text-red-700">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :nickname, class: "block" %>
    <%= form.text_field :nickname %>
  </div>

  <div>
    <%= form.label :emoji, class: "block" %>
    <%= form.text_field :emoji %>
  </div>

  <% if action_name != "edit" %>
    <%= form.hidden_field :email %>
  <% end %>

  <% if action_name == "edit" %>
    <div>
      <%= form.label :email, class: "block" %>
      <%= form.text_field :email, required: true %>
    </div>

    <div>
      <%= form.label :birthdate, class: "block" %>
      <%= form.date_field :birthdate %>
    </div>

    <div>
      <%= form.label :country, class: "block" %>
      <%= form.text_field :country %>
    </div>

    <div>
      <%= form.label :parkrun_id, class: "block" %>
      <%= form.text_field :parkrun_id %>
    </div>
  <% end %>

  <div>
    <%= form.submit class: "bg-nw5k-eggplant-500 hover:bg-nw5k-eggplant-700 text-nwk-eggplant-900 hover:text-white font-bold mt-2 py-2 px-4 rounded" %>
  </div>
<% end %>
