<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= person.nickname %>
  </p>

  <p>
    <strong>Emoji:</strong>
    <%= person.emoji %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= person.birthdate %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= person.country %>
  </p>

  <p>
    <strong>Parkrun:</strong>
    <%= person.parkrun_id %>
  </p>

</div>
