<div class="justify-center items-center bg-white mx-auto md:rounded-lg md:my-4 p-4 lg:p-16">
	<h1><%= person.nickname %> <%= person.emoji %></h1>
  <h2><%= t("nw5k.events_completed", count: person.results.count) %></h2>
  <table class="table-auto w-full my-4">
    <thead>
      <tr class="bg-nw5k-eggplant-800 text-gray-100 text-xl font-medium text-center">
        <th class="py-2 px-4 w-1/3"><%= Event.model_name.human %></th>
        <th class="py-2 px-4 w-1/3"><%= t("nw5k.distance") %></th>
        <th class="py-2 px-4 w-1/3"><%= t("nw5k.place") %></th>
        <th colspan="2" class="py-2 px-4 w-1/3"><%= t("nw5k.time") %></th>
      </tr>
    </thead>
    <tbody>
      <% person.reverse_chronological_results.each do |result| %>
        <tr class="text-center text-xl odd:bg-white even:bg-nw5k-eggplant-50 hover:bg-nw5k-eggplant-100 hover:text-nw5k-eggplant-700">
          <td><%= link_to "#{result.event.number} - #{result.event.date.to_fs(:short)}", result.event, class: "no-underline text-gray-800 hover:text-nw5k-eggplant-700" %></td>
          <td><%= link_to Result.human_attribute_name(result.distance), result.event, class: "no-underline text-gray-800 hover:text-nw5k-eggplant-700" %></td>
          <td><%= link_to result.position, result.event, class: "no-underline text-gray-800 hover:text-nw5k-eggplant-700" %></td>
          <td class="text-right"><%= link_to result.time_string, result.event, class: "no-underline text-gray-800 hover:text-nw5k-eggplant-700" %></td>
          <td class="text-left w-4 lg:w-8">
						<% if result.first_timer? %>
              <div class="has-tooltip">
                <%= link_to "👋", result.person, class: "no-underline text-gray-800 hover:text-nw5k-eggplant-700" %>
                <span class="tooltip p-1 text-sm font-medium text-white bg-nw5k-eggplant-900 rounded-md shadow-sm transition-opacity duration-300"><%= t("nw5k.first_timer") %></span>
              </div>
            <% elsif result.pb? %>
              <div class="has-tooltip">
                <%= link_to "🔔", result.event, class: "no-underline text-gray-800 hover:text-nw5k-eggplant-700" %>
                <span class="tooltip p-1 text-sm font-medium text-white bg-nw5k-eggplant-900 rounded-md shadow-sm transition-opacity duration-300"><%= t("nw5k.pb.#{result.distance}") %></span>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if person.volunteers.count > 0 %>
    <h2 id="volunteering"><%= t("nw5k.events_volunteered_at", count: person.volunteers.count) %></h2>
    <table class="table-auto w-full my-4">
      <thead>
        <tr class="bg-nw5k-eggplant-800 text-gray-100 text-xl font-medium text-center">
          <th class="py-2 px-4 w-1/3"><%= Event.model_name.human %></th>
          <th class="py-2 px-4 w-1/3"><%= t("nw5k.role") %></th>
        </tr>
      </thead>
      <tbody>
        <% person.reverse_chronological_volunteers.each do |contribution| %>
          <tr class="text-center text-xl odd:bg-white even:bg-nw5k-eggplant-50 hover:bg-nw5k-eggplant-100 hover:text-nw5k-eggplant-700">
            <td><%= link_to "#{contribution.event.number} - #{contribution.event.date.to_fs(:short)}", contribution.event, class: "no-underline text-gray-800 hover:text-nw5k-eggplant-700" %></td>
            <td><%= link_to contribution.role, contribution.event, class: "no-underline text-gray-800 hover:text-nw5k-eggplant-700" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
