<div id="<%= dom_id banner %>">
  <p>
    <strong><%= banner.title %></strong>
  </p>

  <p>
    <%= banner.body %>
  </p>

  <p>
    From <%= banner.publish_at %> to <%= banner.withdraw_at %>
  </p>

</div>
