<%= form_with(model: [@event, result]) do |form| %>
  <% if result.errors.any? %>
    <div class="text-red-700">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
        <% result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :person, class: "block" %>
    <%= collection_select(:result, :person_id, Person.all, :id, :name, prompt: true) %>
  </div>

  <div>
    <%= form.label :event, class: "block" %>
    <%= collection_select(:result, :event_id, Event.all, :id, :to_s, prompt: true) %>
  </div>

  <div>
    <%= form.label :time, class: "block" %>
    <%= form.text_field :time_string, placeholder: "24:51 or 1:03:46" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
