<div id="<%= dom_id result %>">
  <p>
    <strong>Person:</strong>
    <%= result.person || "Unknown" %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= result.event %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= result.distance %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= result.time_string %>
  </p>

</div>

<%- #TODO: Make sure this file is not needed then remove it %>
