<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div class="text-red-700">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, class: "block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :number, class: "block" %>
    <%= form.number_field :number %>
  </div>

  <div>
    <%= form.submit class: "bg-nw5k-eggplant-500 hover:bg-nw5k-eggplant-700 text-nwk-eggplant-900 hover:text-white font-bold mt-2 py-2 px-4 rounded" %>
  </div>
<% end %>
