<!DOCTYPE html>
<html>
  <head>
    <title>NW5k</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-100">
    <% flash.each do |type, message| %>
      <p class="<%= type %>"><%= message %></p>
    <% end %>
    <%= yield %>
    <%= button_to "Log out", logout_path, method: :delete if person_signed_in? %>
  </body>
</html>
